body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #141414;
  background-image: url(../../image/background/bg.png);
  color: white;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px 60px;
}